<link rel="stylesheet" type="text/css" href="~/Content/logs.css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}




<div id="site_content">
    <div id="sidebar_container">
    </div>
    <div class="content">
    </div>
</div>
<footer>
    Copyright ITZ REALSTATE by deneb systems
</footer>


<p>&nbsp;</p>
<!-- javascript at the bottom for fast page loading -->
@Scripts.Render("~/Scripts/Shared/jquery.js")
@Scripts.Render("~/Scripts/Shared/jquery.easing-sooper.js")
@Scripts.Render("~/Scripts/Shared/jquery.sooperfish.js")

<script type="text/javascript">
    $(document).ready(function () {
        $('ul.sf-menu').sooperfish();

        //Limpia caja de texto
        var valor, val2;
        $("input").click(function () {
            valor = $(this).attr("value");
            $(this).attr("value", "");
        });
        $("input").focusout(function () {
            val2 = $(this).attr("value");
            if (val2 === "") {
                $(this).attr("value", valor);
            }
        });
    });
</script>