@model IEnumerable<ITZRealStateWeb.Models.Amenitie>
<link rel="stylesheet" type="text/css" href="~/Content/logs.css" />

<p>
    <input class="btn" type="button" onclick="CreateAmenitie();" value="Create New"/>
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAmenitie })
        </td>
    </tr>
}

</table>

@Scripts.Render("~/Scripts/Amenitie/Index.js")
