#centro,.centro{

padding: 10px 0 0 450px;



}

#esp{

padding: 0 10 100 0px;
}

#login-box {
	width:300px;
	height: 400px;
	padding: 10px 76px 0 76px;
	color: #E2E03E;
	font: 16px kalinga, Helvetica, sans-serif;

font-variant-position:normal;

}

#login-box2 {

	padding: 20px 6px 0 6px;
	color: #E2E03E;
	font: 16px kalinga, Helvetica, sans-serif;

font-variant-position:normal;
color:white;
}

#login-box h2 {
	padding:0;
	margin:0;
	color:  lightgoldenrodyellow;
	font: 1700% 16px kalinga, Helvetica, sans-serif;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	padding: 2px 1px 0 0;
	margin: 2px 0 19px 0;
	
	  width: auto;
	  margin-top:3px;
}

#login-box-field {
	float: left;
	display:inline;
	width:23px;
	margin:0;
	margin:10px 10px 7px 0;
	margin-top:20px;
}


.form-login  {
padding: 3px; 
  width: 299px; 
  font: 80% kalinga; 
  border: 1px solid #966558; 
  background: #FFFFF; 
  color: #FFFFF;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}


.login-box-options  {
	clear:both;
	padding-left:7px;
	font-size: 21px;
	margin-left:5px;
	

}

.login-box-options a {
	color: #ebebeb;
	font-size: 21px;
}









.btn {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	  text-align:center;
	color: #ffffff;
	padding: 6px 10px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#5c2a1e 91%,
		#57221e 0%,
		#db8133);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.91, #5c2a1e),
		color-stop(0.0, #57221e),
		to(#db8133));
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border: 0px solid #332516;
	float: left;
	
	
}
.btn:hover {
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 13px;
  padding-top: 8px;
    cursor:pointer;
}


.formus { 
  margin: 15px 0 0 0;
}

.formus p { 
  padding: 0 0 4px 0;
}

.formus span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.formus input, .form_settings textarea { 
  
}
  
.formus .submit { 
  font: 200% 'Jenna Sue', arial, sans-serif; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 0 0 3px 0;
  cursor: pointer; 
  background: #675B42; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#9C8563, #675B42);
  background: -o-linear-gradient(#9C8563, #675B42);
  background: -webkit-linear-gradient(#9C8563, #675B42);
  border: 1px solid #483F2C;
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border: 0px 0px 0px 0px;
  color: #FFF;
}

.formus textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.formus select { 
  width: 310px;
}

.formus .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

















#side_container { 
  float: right;
  width: 224px;
padding: 100px 0 0 20px;
}

.side { 
   float:none;
  width: 350px;
  margin: 0 0 10px 0;
  background: #5c3e32;
  border: 2px solid #4e3329;
  -webkit-border-radius: 0px 0px 0px 0px; 
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 100px 0 0 20px;
  opacity: 0.8;
  visible: 
}

.side h3, .content h1 { 
  padding: 5px 15px 20px 0;
  font: 200% 'kalinga', helvetica, sans-serif;
  text-shadow:  #000 1px 1px;
  margin: 0 1px;
  color: #FFF;
  
}

.side h3 { 
  padding: 9px 15px 14px 0;
  color: #FFF;
  font: 70% 'kalinga', helvetica, sans-serif;
}

.side ul { 
  margin: 0 0 15px 0;
} 

.side li a, .side li a:hover { 
  color: #ca9184;
  text-decoration: none;
} 

.side li a:hover { 
  text-decoration: underline;
} 

.side_item, .content_item { 
  padding: 15px 0;
}

.paperclip { 
  float: left;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -15px 0 -60px -40px;
}

.content { 
  text-align: left;
  width: 0px;
  margin: 0 0 15px 0;
  float: left;
  font-size: small;
  color:white;
  padding: 4px 0 0 0;
}
  
.content ul { 
  margin: 2px 0 2px 0px;
}

    .content ul li, .sidebar ul li
    {
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 0 0 4px 8px;
        line-height: 1.5em;
    }