@model ICollection<AuthenticationClientData>

@if ((Model != null) && (Model.Count != 0))
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
        <legend>Log with</legend>
        <p>
            @foreach (AuthenticationClientData p in Model)
            {
                <button type="submit" class="btn" name="provider" value="@p.AuthenticationClient.ProviderName" title="Inicie sesión con su cuenta de @p.DisplayName">@p.DisplayName</button>
            }
        </p>
    }
}
